header {
  height: 45vh;
  background: url('../images/pexels-photo-261187.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  transition: 1s all ease;
}

header::before {
  content: '';
  background: rgba(black, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
